*,
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
  text-decoration: underline;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #434455;
  line-height: 1.2;
}
header {
  width: 1158px;
  height: 72px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid #e7e9fc;
  gap: 40px;
  justify-content: space-between;
  z-index: 1;
}
.container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.logo {
  font-family: Raleway, sans-serif;
  color: #2e2f42;
  text-decoration: none;
  font-size: 18;
  font-weight: bold;
}
.logo span {
  color: #4d5ae5;
}
.menu {
  font-size: 16px;
}

.menu .menu-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}
.menu .menu-ul .menu-item {
  list-style-type: none;
}
.menu .menu-ul .menu-item .link {
  color: #2e2f42;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .menu-ul .menu-item .link:hover {
  color: #404bbf;
}
.menu .menu-ul .menu-item .links {
  color: #2e2f42;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .menu-ul .menu-item .links:hover {
  color: #404bbf;
}
.menu .menu-ul .menu-item .links:active {
  color: #404bbf;
}
.adres .adres-ul .adres-item {
  list-style-type: none;
  float: left;
}
.adres .adres-ul .adres-item .adres-a {
  color: #434455;
  font-size: 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adres .adres-ul .adres-item .adres-a:hover {
  color: #404bbf;
}
button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  background-color: #404bbf;
}
.section-1 {
  background-color: #2e2f42;
  color: #ffffff;
  height: 600px;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url(../images/hero_image.jpg);
}
.section-2 {
  padding: 120px 0;
}
.section-2-ul-item .icon-1 {
  border: 1px solid #2e2f42;
  border-radius: 4px;
}
.section-2 .section-2-ul {
  height: 312px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 24px;
}
.section-2 .section-2-ul .section-2-ul-item {
  list-style-type: none;
}
.section-3 {
  background-color: #f4f4fd;
  padding: 120px 0;
  height: 732px;
}
.section-3-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  gap: 24px;
}
.section-3 .section-3-ul .section-3-ul-item {
  list-style-type: none;
}

.card {
  overflow: hidden;
  width: 264px;
  height: 428px;
  gap: 32px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding-bottom: 32px;
}
.card-image {
  max-width: 100%;
}
.card-content {
  align-items: center;
  padding: 20px;
  gap: 8px;
}
.section-4 {
  padding: 120px 0;
}
.section-4-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section-4 .section-4-ul .section-4-ul-item {
  list-style-type: none;
}
.card-2 {
  display: inline-block;
  width: 360px;
  height: 420px;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  padding: 40px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  transform: translateY(140%);
}
.card-2:hover .overlay {
  transform: translateY(0);
}
.card-image-2 {
  object-fit: cover;
  max-width: 360px;
  max-height: 300px;
}
.card-content-2 {
  padding: 20px;
}

footer {
  background-color: #2e2f42;
  width: 1158px;
  height: 312px;
  color: #f4f4fd;
  display: inline-block;
  gap: 16px;
  padding: 120px;
  position: relative;
}
.footer .logo {
  color: #ffffff;
}
.footer .icon-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.footer .footer-social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
}
h2 {
  color: #2e2f42;
  font-size: 36px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 56px;
  color: #ffffff;
  margin: auto;
  width: 514px;
  height: 140px;
  text-align: center;
}
h3 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
  padding-top: 10px;
}
.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.footer .icon-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
  padding-top: 10px;
}
.footer-social .icon-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social .icon-list .link:hover,
.icon-list:focus {
  background-color: #31d0aa;
}
.form {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80%;
  left: 90%;
  transform: translate(-85%, -90%);
  padding-bottom: 100px;
  gap: 20px;
}
.form button {
  width: 165px;
  height: 40px;
  padding-bottom: 30px;
}
.form .icon-send {
  color: white;
}
#icon-iconsend {
  width: 24px;
  height: 24px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.is-open {
  display: flex;
}
.is-open .header,
.is-open .section-1,
.is-open .section-2,
.is-open .section-3,
.is-open .section-4,
.is-open .footer {
  opacity: 0.5;
  transition: opacity 250ms ease;
}
.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  width: 408px;
  height: 584px;
}
.modal-content h2 {
  font-size: 16px;
}
.modal-content textarea {
  color: black;
  background-color: white;
  padding: 10px;
}
.modal-content textarea::placeholder {
  color: #999;
  opacity: 1;
  position: relative;
  z-index: 1;
}
.form1-label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 8px;
}
.form1-input {
  gap: 8px;
  padding: 10px;
}
input[type="checkbox"] + label {
  display: inline-block;
}
.input-wrapper {
  position: relative;
  width: 100%;
}
.input-wrapper .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #2e2f42;
}
.input-wrapper .form1-input {
  padding-left: 35px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: 1px solid gray;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper .form1-input:focus {
  border: 1px solid #4d5ae5;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:focus-within .icon {
  fill: #4d5ae5;
}
.modal .form1 .button {
  width: 169px;
  height: 56px;
  padding: 32px, 16px;
}
